@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;700&display=swap');

/* word cloud */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-content);
  box-sizing: border-box;

  --font-family-head:  'Noto Serif TC';
  --font-family-content:  'Noto Sans TC';
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-head);
}

a {
  color: inherit;
  text-decoration: none;
}

body * {
  box-sizing: inherit;
}

button {
  color: currentColor;
}

[role="presentation"] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; 
}
